/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    background: url("haikei.jpeg");
    background-size: cover;
}

header {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 80px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    color: #151515;
    letter-spacing: 2px
}

.user-name a:hover{
    color: skyblue;
}

img{
    text-align: center;
    margin: 0;
    object-fit: cover; /* この一行を追加するだけ！ */
}

/*.hamburger-container{
    display: flex;
    justify-content: flex-end;
}*/
    
.menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    z-index: 90;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    /*background-color: #ffffff;*/
    background-color: #151515;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    /*background-color: #151515;*/
    transition: all 0.5s;
}
.menu-content ul {
    padding: 70px 10px 10px 10px;
    background-color: blanchedalmond;
    background:rgba(243, 243, 239, 0.637);
}
.menu-content ul li {
    /*border-bottom: solid 1px #ffffff;*/
    border-bottom: solid 1px #151515;
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    /*color:#ffffff;*/
    color:rgb(8, 6, 8);
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}
#menu-btn-check:checked ~ .menu-content {
    left: 60%;/*メニューを画面内へ*/
}

body {
    background-color: #D8D8D8
}

#page-top {
    position: fixed;
    bottom: 3vw;
    right: 2vw;
    font-size: 14px;
    line-height: 1;
    z-index: 99;
  }
  #page-top a {
    background: #241d1d;
    text-decoration: none;
    color: #fff;
    width: 60px;
    padding: 28px 5px;
    text-align: center;
    display: block;
    border-radius: 90px;
    opacity: .5;
    transition: all .3s ease;
  }
  #page-top a:hover {
    text-decoration: none;
    opacity: 0.9;
}

footer {
    bottom: 0; 
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: linear-gradient(#161616, #0c0c0c);
    font-size: 15px;
    color: #fff;
}